<!DOCTYPE html>
<html>
<head>
  <title>Spree Ember</title>
  <%= stylesheet_link_tag    "spree/ember/application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "spree/ember/application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

